In [1]:
import pyspark, pandas
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate() 
spark

In [2]:
ca_df= spark.read.csv("./data/CAvideos.csv", header=True, inferSchema=True)
us_df= spark.read.csv("./data/USvideos.csv", header=True, inferSchema=True)

In [3]:
ca_df.toPandas().head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"""Eminem""|""Walk""|""On""|""Water""|""Aftermath/Shady/...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"""plush""|""bad unboxing""|""unboxing""|""fan mail""|""...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"""racist superman""|""rudy""|""mancuso""|""king""|""bac...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"""ryan""|""higa""|""higatv""|""nigahiga""|""i dare you""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"""edsheeran""|""ed sheeran""|""acoustic""|""live""|""co...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...

In [4]:
us_df.toPandas().head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"""last week tonight trump presidency""|""last wee...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"""racist superman""|""rudy""|""mancuso""|""king""|""bac...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"""rhett and link""|""gmm""|""good mythical morning""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"""ryan""|""higa""|""higatv""|""nigahiga""|""i dare you""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [5]:
print("Default schema as inferred by spark:")
ca_df.printSchema()

Default schema as inferred by spark:
root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: string (nullable = true)
 |-- likes: string (nullable = true)
 |-- dislikes: string (nullable = true)
 |-- comment_count: string (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: string (nullable = true)
 |-- ratings_disabled: string (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)

In [6]:
from pyspark.sql.types import StructType, StructField, TimestampType, StringType, BooleanType, DoubleType, IntegerType
schema1 = StructType([
    StructField("video_id", StringType(), True),
    StructField("trending_date", StringType(), True),
    StructField("title", StringType(), True),
    StructField("channel_title", StringType(), True),
    StructField("category_id", IntegerType(), True),
    StructField("publish_time", TimestampType(), True),
    StructField("tags", StringType(), True),
    StructField("views", IntegerType(), True),
    StructField("likes", IntegerType(), True),
    StructField("dislikes", IntegerType(), True),
    StructField("comment_count", IntegerType(), True),
    StructField("thumbnail_link", StringType(), True),
    StructField("comments_disabled", BooleanType(), True),
    StructField("ratings_disabled", BooleanType(), True),
    StructField("video_error_or_removed", BooleanType(), True),
    StructField("description", StringType(), True)])

In [7]:
ca_df= spark.read.csv("./data/CAvideos.csv",  schema=schema1, header=True, inferSchema=True)
us_df= spark.read.csv("./data/USvideos.csv",  schema=schema1,header=True, inferSchema=True)
fr_df= spark.read.csv("./data/FRvideos.csv", schema=schema1, header=True, inferSchema=True)
in_df= spark.read.csv("./data/INvideos.csv", schema=schema1, header=True, inferSchema=True)
gb_df= spark.read.csv("./data/GBvideos.csv", schema=schema1, header=True, inferSchema=True)

In [8]:
print("new schema")
ca_df.printSchema()

new schema
root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: integer (nullable = true)
 |-- publish_time: timestamp (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_count: integer (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: boolean (nullable = true)
 |-- ratings_disabled: boolean (nullable = true)
 |-- video_error_or_removed: boolean (nullable = true)
 |-- description: string (nullable = true)

In [9]:
ca_df.count()

45560

In [10]:
us_df.count()

48137

In [11]:
import pyspark.sql.functions
from pyspark.sql.functions import col,min, max

In [12]:
ca_df.select('category_id').groupby('category_id').count().orderBy('count',ascending=False).show(5)
us_df.select('category_id').groupby('category_id').count().orderBy('count',ascending=False).show(5)
fr_df.select('category_id').groupby('category_id').count().orderBy('count',ascending=False).show(5)
gb_df.select('category_id').groupby('category_id').count().orderBy('count',ascending=False).show(5)
in_df.select('category_id').groupby('category_id').count().orderBy('count',ascending=False).show(5)

+-----------+-----+
|category_id|count|
+-----------+-----+
|         24|13451|
|       null| 4679|
|         25| 4159|
|         22| 4105|
|         23| 3773|
+-----------+-----+
only showing top 5 rows

+-----------+-----+
|category_id|count|
+-----------+-----+
|         24| 9964|
|       null| 7188|
|         10| 6472|
|         26| 4146|
|         23| 3457|
+-----------+-----+
only showing top 5 rows

+-----------+-----+
|category_id|count|
+-----------+-----+
|         24| 9819|
|         22| 5719|
|       null| 5414|
|         23| 4343|
|         17| 4342|
+-----------+-----+
only showing top 5 rows

+-----------+-----+
|category_id|count|
+-----------+-----+
|         10|13754|
|         24| 9124|
|       null| 4379|
|         22| 2926|
|          1| 2577|
+-----------+-----+
only showing top 5 rows

+-----------+-----+
|category_id|count|
+-----------+-----+
|         24|16712|
|         25| 5241|
|         10| 3858|
|         23| 3429|
|         22| 2624|
+-----------+-----+
only showing top 5 rows

# In countries like Canada, USA, France and India, category "Entertainment" has the maximum no of trending videos. But in Great Britain, "Music" is the most watched category.

In [13]:
ca_df.select('channel_title').groupby('channel_title').count().orderBy('count',ascending=False).show(5, truncate=False)
us_df.select('channel_title').groupby('channel_title').count().orderBy('count',ascending=False).show(5, truncate=False)
fr_df.select('channel_title').groupby('channel_title').count().orderBy('count',ascending=False).show(5, truncate=False)
gb_df.select('channel_title').groupby('channel_title').count().orderBy('count',ascending=False).show(5, truncate=False)
in_df.select('channel_title').groupby('channel_title').count().orderBy('count',ascending=False).show(5, truncate=False)

+---------------+-----+
|channel_title  |count|
+---------------+-----+
|null           |4239 |
|SET India      |192  |
|MSNBC          |189  |
|FBE            |188  |
|The Young Turks|186  |
+---------------+-----+
only showing top 5 rows

+--------------------------------------+-----+
|channel_title                         |count|
+--------------------------------------+-----+
|null                                  |6025 |
|ESPN                                  |203  |
|The Tonight Show Starring Jimmy Fallon|197  |
|Netflix                               |193  |
|TheEllenShow                          |193  |
+--------------------------------------+-----+
only showing top 5 rows

+----------------+-----+
|channel_title   |count|
+----------------+-----+
|null            |5032 |
|Troom Troom FR  |195  |
|Elhiwar Ettounsi|181  |
|sam zirah       |173  |
|Lama FachÃ©      |171  |
+----------------+-----+
only showing top 5 rows

+--------------------------------------+-----+
|channel_title                         |count|
+--------------------------------------+-----+
|null                                  |3827 |
|The Tonight Show Starring Jimmy Fallon|208  |
|TheEllenShow                          |207  |
|Jimmy Kimmel Live                     |207  |
|Saturday Night Live                   |206  |
+--------------------------------------+-----+
only showing top 5 rows

+--------------+-----+
|channel_title |count|
+--------------+-----+
|null          |1106 |
|VikatanTV     |284  |
|etvteluguindia|282  |
|Flowers Comedy|270  |
|ETV Plus India|253  |
+--------------+-----+
only showing top 5 rows

In [14]:
# !pip install --upgrade google-api-python-client
# !pip install oauth2client

In [110]:
from data_fetch import youtube_search
import pandas as pd

In [111]:
data = youtube_search("coronavirus")
df = pd.DataFrame(data=data)

In [112]:
import os
# if file does not exist write header 
if not os.path.isfile('coronavirus.csv'):
   df.to_csv('coronavirus.csv', header=df.columns)
else: #if exists
   df.to_csv('coronavirus.csv', mode='a', header=False)

In [113]:
df= pd.read_csv("coronavirus.csv", index_col=False)
df.shape

(100, 12)

In [122]:
df.drop_duplicates(subset='videoId', keep="first", inplace=True)
df.shape

(51, 12)

In [123]:
df.head()

,Unnamed: 0,tags,channelId,channelTitle,categoryId,title,videoId,viewCount,likeCount,dislikeCount,commentCount,favoriteCount
0,0,"['coronavirus', 'cases', 'sick', 'NY', 'man', ...",UCBi2mrWuNuyYy4gbM6fU18Q,ABC News,25,Coronavirus cases linked to sick NY man jumps ...,bDX5SxQP7LI,11925,1224,101,804,0
1,1,"['Nightly News', 'Health', 'Coronavirus', 'NBC...",UCeY0bbntWzzVIaj2z3QigXg,NBC News,25,"Coronavirus: WHO Says Death Toll Rising, Exper...",fbqD5zD-yXg,584933,4155,542,3082,0
2,2,"['video', 'cbs', 'news', 'coronavirus', 'death...",UCAeWdyKJXGWmVAXFpgLNNTg,CBS Evening News,25,California reports first coronavirus death,zzUm8IhVTKo,3250,288,37,224,0
3,3,"['coronavirus', 'covid19', 'corona', 'outbreak...",UC6o-wWU-v2ClFMwougmK7dA,BBC Newsnight,25,Coronavirus cases pass 50 as UK publishes its ...,icXrtkBuYsg,438956,2165,369,2576,0
4,4,"['NYC', 'disinfecting', 'trains', 'buses', 'st...",UCBi2mrWuNuyYy4gbM6fU18Q,ABC News,25,"NYC disinfecting trains, stations as coronavir...",EpJhCvT7zMs,232813,2504,136,1513,0